* {
  margin: 0;
  padding: 0;
}
#videoWrap {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
    overflow: hidden;
    text-align: center;
    background: #b4b2b4;
}
#videoWrap video {
    position: absolute;
  top: 50%; 
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto;
  z-index: -1000; 
  overflow: hidden;


}
#content {
    position: fixed;
    z-index: 2;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'GothamBold', sans-serif;
}
#content > * {
  position: absolute;
}
#content h1 {
  display:  inline-block;
  bottom: 40px;
  left: 40px;
  width: 200px;
}
#content h1 img {
  max-width: 100%;
}
#content ul {
  top: 40px;
  list-style-type: none;
  left: 40px;
}
#content > div {
  left: 75%;
  top: 40px;
  right: 40px;
  bottom: 40px;
  font-size: 30px;
  line-height: 1.1;
}
#content ul a {
  display: block;
  height: 50px;
  width: 50px;
  font-size: 0;
  background-color: #434444;
  margin-bottom: 20px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: 50px;
}
a {
  transition: all 200ms linear;
}
#content ul li:nth-child(1) a {
  background-image: url('img/facebook@2x.png');
}
#content ul li:nth-child(2) a {
  background-image: url('img/behance@2x.png');
}
#content ul li:nth-child(3) a {
  background-image: url('img/instagram@2x.png');
}
#content ul a:hover {
  background-color: #bfff1d;
}
#content > div p:nth-child(1) {
  top:0;
  position: absolute;
  color: #989898;
}
#content > div p:nth-child(2) {
  position: absolute;
  top: 50%;
  color: #434444;
}
#content > div a {
  bottom: 0;
  position: absolute;
   color: #989898;
   text-decoration: none;
}
#content > div a:hover {
  color: #bfff1d;
}