* {
    margin: 0;
    padding: 0;
}

#videoWrap {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    background: #333133 url('img/hpn_poster.jpg') no-repeat center;
    background-size: cover;
}

#videoWrap video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

#content {
    position: fixed;
    z-index: 2;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'GothamBold', sans-serif;
}

#content > * {
    position: absolute;
}

#content h1 {
    display: inline-block;
    bottom: 40px;
    left: 40px;
    width: 150px;
}

#content h1 img {
    max-width: 100%;
}

#content ul {
    top: 40px;
    list-style-type: none;
    left: 40px;
}

#content > div {
    left: 75%;
    top: 40px;
    right: 40px;
    bottom: 40px;
    font-size: 30px;
    line-height: 1.1;
}

#content ul a {
    display: block;
    height: 40px;
    width: 40px;
    font-size: 0;
    background-color: #434444;
    margin-bottom: 20px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

a {
    transition: all 200ms linear;
}

#content ul li:nth-child(1) a {
    background-image: url('img/facebook@2x.png');
}

#content ul li:nth-child(2) a {
    background-image: url('img/behance@2x.png');
}

#content ul li:nth-child(3) a {
    background-image: url('img/instagram@2x.png');
}

#content ul a:hover {
    background-color: #bfff1d;
}

#content > div p:nth-child(1) {
    top: 0;
    position: absolute;
    color: #989898;
}

#content > div p:nth-child(2) {
    position: absolute;
    top: 50%;
    color: #434444;
}

#content > div a {
    bottom: 0;
    position: absolute;
    color: #989898;
    text-decoration: none;
}

#content > div a:hover {
    color: #bfff1d;
}

@media screen and (max-width: 1600px) {
    #content > div {
        left: 75%;
        font-size: 24px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 1200px) {
    #content > div a {
        left: -250%;
    }

    #content > div p:nth-child(1) {
        top: 0;
        position: absolute;
        color: #989898;
    }

    #content > div p:nth-child(2) {
        position: absolute;
        top: 50%;
        color: #434444;
    }
}



@media screen and (max-width: 992px) {
    #content > div {
        left: 40px;
        font-size: 18px;
        line-height: 1.1;
        bottom: 32px;
    }

    #content > div a {
        left: 120px;
    }

    #content ul {
        top: 40px;
        list-style-type: none;
        left: initial;
        right: 40px;
    }

    #content > div p:nth-child(2) {
        top: initial;
        bottom: 80px;
    }

    #content h1 {
        width: 90px;
        bottom: 30px
    }

    #content ul a {
        height: 33px;
        width: 33px;
    }
}
@media screen and (max-width: 480px) {
    #content > div {
        top:20px;
        left: 20px;
        bottom: 22px;
        right: 20px;
    }
    #content ul {
        top: 20px;
        right: 20px;
    }
    #content h1 {
        left: 20px;
        bottom: 20px
    }
    #content > div a {
        left: 110px;
    }
    #content > div {
        font-size: 17px;
        
    }
}
@media screen and (max-width: 360px) {
    #content > div a {
        font-size: 15px;
        left: initial;
        right: 0;
    }

}
@media screen and (max-height: 900px) and (max-width: 1580px) {
    #videoWrap video {
        max-height: 900px;
    }
}
@media screen and (max-height: 700px) and (max-width: 1240px) {
    #videoWrap video {
        max-height: 700px;
    }
}
@media screen and (max-height: 600px) and (max-width: 1060px) {
    #videoWrap video {
        max-height: 600px;
    }
}
@media screen and (max-height: 500px) and (max-width: 860px) {
    #videoWrap video {
        max-height: 500px;
    }
}
